﻿@model IEnumerable<GoTVisma.Models.GameOfThrones>

@{
    ViewBag.Title = "Browes";
}

<h2>Game Of Thrones</h2>
<div>
    <fieldset>
        <div style="height: 200px; width: 40%; overflow: auto; float:left;">
            @foreach (var house in Model)
            {
                <a class="btn btn-block"
                   onclick="setSwornMembers('@house.SwornMembers')">
                    @house.HouseName
                </a>
            }
        </div>

        <div style="height: 200px; width: 60%; overflow: auto; float:right;">


            <p id="prop"></p>


            <script>
                function setSwornMembers(swornMembers) {
                    document.getElementById("prop").innerHTML = "<ul>" + swornMembers + "</ul>";
                }
            </script>


        </div>
    </fieldset>
</div>

